body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Atualizado */
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; 
}
  
body.light-mode {
  background-color: #ffffff;
  color: #1c1c1c;
}

body.dark-mode {
  background-color: #1c1c1c;
  color: #ffffff;
}
 
.window-controls {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  -webkit-app-region: drag; 
}
 
.title-bar {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}
 
.control-btn {
  width: 15px; 
  height: 15px; 
  margin: 0 5px;
  border: none;
  border-radius: 50%;  
  cursor: pointer;
  background-color: transparent;
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; 
}

.control-close {
  background-color: #ff5f57;
}

.control-minimize {
  background-color: #ffbd2e; 
}

.control-maximize {
  background-color: #28c940; 
}

.control-btn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
 
#iframe {
  flex-grow: 1;
  width: 100%;
  border: none;
  overflow-y: auto;  
}
 
.footer {
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  font-weight: 450;
}

.footer p {
  margin: 0;
  line-height: 1.2; 
}
 
.control-theme {
  -webkit-app-region: no-drag; 
}
